.Navbar {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    background-color: rgb(146, 149, 151);
    align-items: center;
}

.Navbar_bank {
    display: flex;
    margin-left: 10px;
}

.Navbar_options {
    display: flex;
    justify-content: space-between;
}

.Navbar_add {
    margin-right: 10px;
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    cursor: pointer;
}

.Navbar_add:hover,
.Navbar_add:active {
  background: #741188;
  border-color: #741188;
}

.Navbar_manager {
    margin-right: 10px;
}