.users {
    margin: 2rem auto;
    width: 90%;
    max-width: 40rem;
  }
  
  .users ul {
    list-style: none;
    padding: 1rem;
  }
  
  .users li {
    border: 1px solid #ccc;
    margin: 0.5rem 0;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
  }

  .Customer_update {
    margin-right: 10px;
    font: inherit;
    border: 1px solid #4f005f;
    background: #4f005f;
    color: white;
    cursor: pointer;
}

.Customer_update:hover,
.Customer_update:active {
  background: #741188;
  border-color: #741188;
}